@font-face {
    font-family: 'heistregular';
    src: url('/font/heist-regular-webfont.woff2');
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
}



header{
    border-top: 5px solid #ff9d06;
    border-bottom: 5px solid #ff9d06;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.8);
    background-size: cover;
    color: #fff;
    padding: 40px ;
}

header h1{
    font-family: 'Kenia', cursive;
    font-size: 50px;
}

header h4{
    margin-top: -20px;
    font-family: 'Kenia', cursive;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.main{
    margin-top: 40px;
    font-family: 'Kenia', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.main .content .card .left{
    flex: 0 0 30%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff
}

.main .content .card.right{
    flex: 0 0 70%;
}

.main .content .card .right img{
    height: 300px;
    width: 400px;
    margin-top: 5px;
}

footer{
    margin-top: 40px;
    border-top: 5px solid #ff9d06;
    border-bottom: 5px solid #ff9d06;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 100px;
    color: #fff;
}

footer h1{
    font-family: 'Kenia', cursive;
    border-bottom: 1px solid #fff;
    width: 20%;
    padding-bottom: 5px;
}

footer .services{
    font-family: 'Kenia', cursive;
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
}

footer .services .service{
    margin-right: 170px;
    padding: 10px;
}

footer .services .service p{
    max-width: 300px;
}

footer #contact{
    color: rgb(181, 181, 181);
}

.orange {
    color : #ff9d06;
    }
.rouge {
    color: #9B0F00;
    }

img{
    width: 30px;
    height: 30px;
}
.paiement{
    width: 100px;
    height: 70px;
}

.logo2{
    width: 100px;
    height: 80px;
    border-radius: 15px;
}

.center {
    text-align: center;
}

@media screen and (max-width:680px){
    nav .onglets {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .main .card{
        margin: 10px;
    }
    .main .content .card .right img{
        height: 200px;
        width: 100px;
        margin-top: 0px;
    }
    .main .content .card{
        display: block;
    }
    footer {
        padding: 30px;
    }
    
}