* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.title_reserv{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
.date-form{
    display: flex;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    width: 500px;
    background-color: red;
}
input[date]{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}
.notConnect{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    justify-content: center;
    background-color: red;
}
.alert{
    text-align: center;
    padding: 50px;
}